.chat-container{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    height: 100vh;
    border: blue 1px solid;
}
.chat-header{
    padding: 10px;
    font-size: 12px;
    justify-content: center;
    border: #555 1px solid;
}
.chat-header .row{
    padding: 10px;
    justify-content: space-between;
}
.chat-section{
    display: flex;
    padding: 10px;
    font-size: 12px;
    justify-content: center;
    border: #555 1px solid;
    height: 70vh;
}
.chat-form{
    justify-content: flex-end;
}
.chat-footer{
    padding: 10px;
    font-size: 12px;
    justify-content: center;
    border: #555 1px solid;
}
#message_form{
    width: 100%;
}
#messages{
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#message_input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #555;
    padding: 5px;
    font-size: 12px;
}
.self-messages{
    text-align: end;
    align-self: end;
}
.other-messages{
    text-align: start;
    align-self: start;
}
.messages{
    border-radius: 5px;
    border: black 1px solid;
    padding: 10px;
    margin: 10px;
    width: auto;
}
.message-text{
    overflow-wrap: anywhere;
}